Django==1.11.7
PyYAML==3.12
argparse==1.2.1
certifi==2017.7.27.1
chardet==3.0.4
django-csvimport==2.11
html5lib==0.999999999
idna==2.6
json-table-schema==0.2.1
lxml==4.1.0
messytables==0.15.2
numpy==1.22.0
pandas==0.21.0
pdb==0.1
python-dateutil==2.6.1
python-gnupg==0.4.1
python-magic==0.4.13
pytz==2017.3
requests==2.18.4
simplejson==3.11.1
six==1.11.0
urllib3==1.22
webencodings==0.5.1
wsgiref==0.1.2
xlrd==1.1.0
